# Local working notes
PROJECT_TODO.md
HTTP_MODELS.md
DB_MODELS.md
.env
Backend_TODO.md

# Python / Django
__pycache__/
*.pyc
*.pyo
.venv/
db.sqlite3

# IDE
.idea/

# Standard Python/Django
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
*.sqlite3
*.log
*.pid
*.db

# Misc
.DS_Store
