services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME:-postgres}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-admin}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"

  app:
    build: .
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: ${DB_NAME:-postgres}
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-admin}
      LEARNING_LIST_SIZE: ${LEARNING_LIST_SIZE:-20}
      CORRECT_THRESHOLD: ${CORRECT_THRESHOLD:-10}
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      REDIS_CACHE_URL: redis://redis:6379/1
      CACHE_TTL: ${CACHE_TTL:-60}
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py migrate &&
             python manage.py seed_words &&
             python manage.py runserver 0.0.0.0:8000"

  worker:
    build: .
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: ${DB_NAME:-postgres}
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-admin}
      LEARNING_LIST_SIZE: ${LEARNING_LIST_SIZE:-20}
      CORRECT_THRESHOLD: ${CORRECT_THRESHOLD:-10}
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      REDIS_CACHE_URL: redis://redis:6379/1
      CACHE_TTL: ${CACHE_TTL:-60}
    command: >
      sh -c "celery -A ArmenifyMe worker -l info"

volumes:
  postgres_data:
